@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');
:root {
    --main-font: 'Nunito', sans-serif;
}
body {
    background-color: #f5d9d5;
    font-family: var(--main-font);
}
/* Classes */
.bg-purple {
    background-color: purple;
}
.nav-transparent { 
    background-color:transparent;
}

.scrolled {
    background-color: rgb(222, 192, 222);
}
/* ID's */
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;

}
#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 1.5rem;
}
#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}
#heading h2 {
    font-weight: 100;
    font-size: 2.5rem;
}
#heading span {
    color: #ea1c2c;
}
@media (max-width: 1200px) {
    #heading h2 {
        font-size: 2rem;
    }
}
#firstContent h2 {
    color: #ea1c2c;
    font-weight: 100;
}
#firstContent .lead {
    color: #f498b8;
}
#firstContent .lead:hover {
    color: #f7b4cb;
    cursor: pointer;
}
/* #firstContent .lollipop {
    animation-name: zoom;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes zoom {
    from {
        width: 15%;
    }
    to {
        width: 20%;
    }
} */
